{%- liquid
  assign badge_class = class | default: ''
-%}

<ul class="rp-product-badges {{ badge_class }}" role="list">
  <li class="rp-product-badges__item">Quality checked</li>
  <li class="rp-product-badges__item">Royal Mail delivery</li>
  <li class="rp-product-badges__item">Prepaid return included</li>
</ul>
