<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-fit-default', title: 'The dress doesn&rsquo;t fit.. what now?', content: '<p>If your item doesn&rsquo;t fit, please contact us as soon as possible and we&rsquo;ll do our best to help. Please arrange for the dress to be returned next day. Depending on availability, we may be able to offer an exchange for a different size or style, or advise you on the best next steps. If an exchange isn&rsquo;t possible, once the dress is received, you will be refunded the full item price, excluding shipping and cleaning costs. The cleaning fee will be credited to your account and can be used towards your next rental.</p>', open: true %}
</div>
<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-return-process-default', title: 'How does the return process work?', content: '<p>Being the efficient Queen that I am, the returns have already been processed for you. On the return date stated in your email, you will need to package your dress in the same box it was shipped in, all the bits are already provided for you, then take your parcel and QR code to your local post office and let the team do the rest.</p>' %}
</div>
<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-return-ready-default', title: 'When do I need to have the item ready for return?', content: '<p>The item must be fully packed and dropped at your local post office by 12pm on your return date. If the item is not returned on this date additional charges will be accrued.</p>' %}
</div>
<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-package-default', title: 'Do I need to package the item?', content: '<p>Yes. Please keep all packaging safe during your rental period, as this is the same box you&rsquo;ll use to return your dress. Your item should be securely packed and ready for transport using the packaging and equipment provided.</p>' %}
</div>
<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-packaging-default', title: 'What if I damage or lose the packaging?', content: '<p>Welp. We&rsquo;ll charge you (jk). If possible, please reuse another box of a similar size and durability, as we always encourage sustainable choices. If that&rsquo;s not an option, you&rsquo;ll need to purchase a replacement box similar to the original one to safely return your item.</p>' %}
</div>
<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-return-date-default', title: 'Can I change my return date?', content: '<p>Return dates may be changed if requested in advance and subject to availability. Changes made close to the return date may not always be possible.</p>' %}
</div>
<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-late-default', title: 'What happens if the item is returned late?', content: '<p>Late returns may affect other bookings and will incur additional charges. We operate on a strict schedule to ensure availability for all customers.</p>' %}
</div>
<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-home-default', title: 'Do I need to be home for delivery?', content: '<p>Ideally yes, or you must arrange a safe, accessible location for delivery. Someone must be available unless a safe drop arrangement has been agreed in advance.</p>' %}
</div>
<div data-rp-reveal>
  {% render 'rp-accordion-item', id: 'faq-tracking-default', title: 'Will I get tracking details?', content: '<p>Yes. We will provide courier confirmation and tracking information where available.</p>' %}
</div>
